
body {
    background-color: #000;
    color: #f0e4f5;
    text-shadow: 1px 1px 1px;
    color: #e5ceef;
    font-family: monospace;
}

.screen {
    border-radius: 8vw;
    background-color: #0e0b1c;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.usertext {
    width: calc( 100% - 40px );
  padding-bottom: 30px;
  padding-right: 40px;
}
/*blinking cursor thing*/

.blinking {
    display: inline-block;
    -webkit-animation: blinking-animation 0.2s infinite;
    -moz-animation: blinking-animation 0.2s infinite;
    -o-animation: blinking-animation 0.2s infinite;
    animation: blinking-animation 0.2s infinite;
}
  

/* scanbar stuff */

@keyframes scan {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.scan {
    height: 50px;
    width: 200%;
    background-color: #00000002;
    animation: scan 1.5s infinite;
}
