
body {
    background-color: #000;
    color: #fdf8ff;
    text-shadow: 1px 1px 1px;
    color: #f0e9f3;
    font-family: monospace;
}

.screen {
    border-radius: 8vw;
    background-color: #0e0b1c;
    width: 80%;
    position: absolute;
    overflow: hidden;
    margin: auto;
}


/* scanbar stuff */

@keyframes scan {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.scan {
    height: 50px;
    width: 200%;
    background-color: #00000002;
    animation: scan 1.5s infinite;
}